html,body {
	background-color: #efeff4;
}
.mui-table-view-cell:after {
	left:0px;
}
.record-list {
	font-size: 14px;
}
.record-badge {
	width: 40px;
	height: 40px;
	float:left;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	margin-top: 21px;
	margin-bottom: 15px;
}
.record-number {
	float:left;
	width: 54px;
}
.record-btn {
	position: relative;
	float:right;
	margin-top: -61px;
	margin-right: 0px;
	width: 80px;
}
.record-btn .mui-btn {
	font-size: 12px;
	line-height: 12px;
}

.detail-list {
	font-size: 14px;
}
.detail-list li {
	height: 125px; background: red;
}
.detail-list .record-btn {
	margin-top: -100px;
}
.get-detail-show {
	margin:0!important;
}
/*.mui-table-view-cell {margin:0;padding: 0;}*/
.mui-table-view-cell .mui-collapse{width:100%;background: #000;!important}
.mui-table-view-cell .mui-collapse .mui-table-view{width:100%;}
.mui-table-view-cell .mui-collapse .mui-table-view .get-detail-show .mui-table-view-cell {
	width:100%!important;background: yellow;
}
.mui-table-view-cell.mui-collapse .mui-table-view.get-detail-show .mui-table-view-cell:after { 
    left: 0;
}
.get-detail-show .record-number {
	height: 100px;;
}
.mui-segmented-control{border:none;margin-top:10px;margin-bottom: 10px;background: #fff;}
.mui-control-item{border:none!important;color:#333!important;}
.mui-active{background: none!important;color: #007aff!important;border-bottom: 2px solid #007aff!important;}
#record1mobile{border-bottom:none!important;}
#record3mobile{border-bottom:none!important;}
#record1mobile .mui-active{border-bottom:none!important;}
#record3mobile .mui-active{border-bottom:none!important;}
.record-number .record-badge{background: #077BBE;font-size: 18px;}

