.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 25px;
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}

.spliter {
	color: #bbb;
	padding: 0px 8px;
}

.expend-item {
	position: absolute;
    right: 10px;
    top: 12px;
    height: 35px;
    border-radius: 5px;
    border:1px solid #ccc;
}

#register-form {
	
}
#register-form .mui-input-row {
	line-height: 50px;
	height: 60px;
	padding-top: 10px;
}
#register-form .mui-input-row label {
	padding:5px 20px
}
#register-form .mui-input-row label span {
	margin-left:10px;
	font-size:2em
}